In [1]:
import pandas as pd

In [2]:
from IPython.display import Image

In [23]:
calendar = pd.read_csv('boston-airbnb-open-data/calendar_sept.csv', index_col=0)
reviews = pd.read_csv('boston-airbnb-open-data/reviews_sample.csv', index_col=0)
listings = pd.read_csv('boston-airbnb-open-data/listings.csv', index_col=0)

In [8]:
# Бронирования квартиры
calendar.head(2)

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN

In [9]:
# Отзывы о квартирах
reviews.head(2)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...

In [10]:
# Информация о квартирах
listings.head(2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
1553,1458081,https://www.airbnb.com/rooms/1458081,20160906204935,2016-09-07,"Beautiful 4BD/2BA Gem! Near airport, city, sub...",You will love this condo! We are just a 7 minu...,We are located in the Jeffries Point neighborh...,You will love this condo! We are just a 7 minu...,none,The neighborhood is great because it's accessi...,...,10.0,f,NaN,NaN,t,moderate,f,f,1,4.71
2950,8886703,https://www.airbnb.com/rooms/8886703,20160906204935,2016-09-07,2Beautiful Philadelphia Style Home!,Our home is great for students and visitors to...,NaN,Our home is great for students and visitors to...,none,NaN,...,9.0,f,NaN,NaN,f,moderate,f,f,2,1.11

In [11]:
# В pandas существует два типа объединения таблиц: merge and join
# merge связывает таблицы по каким-то признакам
# join связывает таблицы по какому-то индексу

In [26]:
# Добавим к квартире отзывы людей (merge): left_on, right_on - названия столбцов для объединения
pd.merge(listings, reviews, left_on=['id'], 
         right_on=['listing_id'], how='right', indicator=True).head(1)

,id_x,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,listing_id,id_y,date,reviewer_id,reviewer_name,comments,_merge
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...,right_only

In [16]:
# Рассмотрим метод join
calendar.set_index('listing_id', inplace=True)

In [17]:
reviews.set_index('listing_id', inplace=True)

In [21]:
calendar.join(reviews, lsuffix='listing_id', rsuffix='listing_id')

,listing_idlisting_id,datelisting_id,available,price,listing_idlisting_id,id,datelisting_id,reviewer_id,reviewer_name,comments
0,12147973,2017-09-05,f,NaN,1178162.0,4724140.0,2013-05-21,4298113.0,Olivier,My stay at islam's place was really cool! Good...
1,12147973,2017-09-04,f,NaN,1178162.0,4869189.0,2013-05-29,6452964.0,Charlotte,Great location for both airport and city - gre...
2,12147973,2017-09-03,f,NaN,1178162.0,5003196.0,2013-06-06,6449554.0,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,12147973,2017-09-02,f,NaN,1178162.0,5150351.0,2013-06-15,2215611.0,Marine,The room was nice and clean and so were the co...
4,12147973,2017-09-01,f,NaN,1178162.0,5171140.0,2013-06-16,6848427.0,Andrew,Great location. Just 5 mins walk from the Airp...
543,3075044,2017-09-05,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
544,3075044,2017-09-04,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
545,3075044,2017-09-03,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
546,3075044,2017-09-02,t,$75.00,NaN,NaN,NaN,NaN,NaN,NaN
547,3075044,2017-09-01,t,$75.00,NaN,NaN,NaN,NaN,NaN,NaN
889,6976,2017-09-05,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
890,6976,2017-09-04,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
891,6976,2017-09-03,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
892,6976,2017-09-02,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
893,6976,2017-09-01,t,$65.00,NaN,NaN,NaN,NaN,NaN,NaN
1278,1436513,2017-09-05,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,1436513,2017-09-04,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,1436513,2017-09-03,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,1436513,2017-09-02,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1282,1436513,2017-09-01,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1670,7651065,2017-09-05,t,$79.00,NaN,NaN,NaN,NaN,NaN,NaN
1671,7651065,2017-09-04,t,$79.00,NaN,NaN,NaN,NaN,NaN,NaN
1672,7651065,2017-09-03,t,$79.00,NaN,NaN,NaN,NaN,NaN,NaN
1673,7651065,2017-09-02,t,$79.00,NaN,NaN,NaN,NaN,NaN,NaN
1674,7651065,2017-09-01,t,$79.00,NaN,NaN,NaN,NaN,NaN,NaN
2011,12386020,2017-09-05,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,12386020,2017-09-04,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,12386020,2017-09-03,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,12386020,2017-09-02,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,12386020,2017-09-01,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1306963,14852179,2017-09-05,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306964,14852179,2017-09-04,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306965,14852179,2017-09-03,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306966,14852179,2017-09-02,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306967,14852179,2017-09-01,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307242,8373729,2017-09-05,t,$69.00,NaN,NaN,NaN,NaN,NaN,NaN
1307243,8373729,2017-09-04,t,$69.00,NaN,NaN,NaN,NaN,NaN,NaN
1307244,8373729,2017-09-03,t,$69.00,NaN,NaN,NaN,NaN,NaN,NaN
1307245,8373729,2017-09-02,t,$75.00,NaN,NaN,NaN,NaN,NaN,NaN
1307246,8373729,2017-09-01,t,$75.00,NaN,NaN,NaN,NaN,NaN,NaN
1307590,14844274,2017-09-05,t,$150.00,NaN,NaN,NaN,NaN,NaN,NaN
1307591,14844274,2017-09-04,t,$150.00,NaN,NaN,NaN,NaN,NaN,NaN
1307592,14844274,2017-09-03,t,$150.00,NaN,NaN,NaN,NaN,NaN,NaN
1307593,14844274,2017-09-02,t,$150.00,NaN,NaN,NaN,NaN,NaN,NaN
1307594,14844274,2017-09-01,t,$150.00,NaN,NaN,NaN,NaN,NaN,NaN
1307795,14585486,2017-09-05,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307796,14585486,2017-09-04,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307797,14585486,2017-09-03,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307798,14585486,2017-09-02,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307799,14585486,2017-09-01,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308160,14603878,2017-09-05,t,$59.00,NaN,NaN,NaN,NaN,NaN,NaN
1308161,14603878,2017-09-04,t,$59.00,NaN,NaN,NaN,NaN,NaN,NaN
1308162,14603878,2017-09-03,t,$59.00,NaN,NaN,NaN,NaN,NaN,NaN
1308163,14603878,2017-09-02,t,$59.00,NaN,NaN,NaN,NaN,NaN,NaN
1308164,14603878,2017-09-01,t,$59.00,NaN,NaN,NaN,NaN,NaN,NaN
1308720,14504422,2017-09-05,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308721,14504422,2017-09-04,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308722,14504422,2017-09-03,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308723,14504422,2017-09-02,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308724,14504422,2017-09-01,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN